<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge" />
    <title>Mission to Mars</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet" />

    <div class="container">
        <link href="styles.css" rel="stylesheet" />
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg"
                   href="/scrape"
                   role="button">Scrape New Data</a></p>
        </div>
        <!-- Mars News -->
        <div class="row"
             id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2>Latest Mars News</h2>
                        <h4 class="media-heading">{{mars.news_title}}</h4>
                        <p>{{mars.news_paragraph}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mars Featured Image -->
        <div class="row"
             id="mars-featured-image">
            <div class="col-md-8">
                <h2>Featured Mars Image</h2>
                <img src="{{ mars.featured_image }}"
                     class="img-responsive"
                     alt="Responsive image">
            </div>
            <!-- Mars Info -->
            <div class="col-md-4">
                <h4> Mars Facts </h4>
                {{ mars.facts | safe}}
            </div>
        </div>

        <div class="row"id="mars-hemis">
            <div class="col-md-8">
                <div class="hemisphere_img">
                    <h2>Mars Hemisphere</h2>
                    <h3 class="ceberus">Ceberus Hemisphere</h3>
                    <img src="{{mars.ceberus}}"
                        class="img-responsive"
                        alt="Responsive image">

                    <h3 class="schiaparelli">Schiaparelli Hemisphere</h3>
                    <img src="{{ mars.schiaparelli }}"
                        class="img-responsive"
                        alt="Responsive image">

                    <h3 class="syrtis_major">Syrtis Major Hemisphere</h3>
                    <img src="{{ mars.syrtis_major }}"
                        class="img-responsive"
                        alt="Responsive image">

                    <h3 class="valles_marineris">Valles Marineris Hemisphere</h3>
                    <img src="{{ mars.valles_marineris }}"
                        class="img-responsive"
                        alt="Responsive image">
 
                </div>
            </div>
        </div>

    </div>
</body>

</html>