body {
    font-family: Charter,Georgia,serif;
    line-height: 1.5;
    margin: 15px;
    padding-bottom: 70px;
    background-color: rgb(0,0,0,0.75);
    font-size: medium;
}
.jumbotron{
  background-image: linear-gradient(to right, #c33764, #1d2671);
  color: whitesmoke;
}
.btn{
  background-color: #42275a;
  border: none;
}
h2 {
  padding: 5px ;
  background-color: #c33764;
  color:whitesmoke;
}
.zoom {
  padding: 5px;
  background-color: black;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}